
.tableHead{
background-color:#0000CC;
font-family:"黑体";
font-size:30px;
font-weight:bold;
color:#FFFFFF;
}

.content{
font-size:20px;
font-weight:bold;
font-family:"宋体";
}

.index{
font-size:12px;
font-weight:bolder;
text-align:center;
}

